/********CELDA LADO IZQ**************/
body{
	margin: 0;
}
.cont-cab{
	background-color: #00859D;
	height: 900px; 
	width: 900px;
}
/********LOGO**************/
.hellogas{
	width: 300px;
	height: 300px;
}

.hellogas img{
	min-width: 100%;
	max-width: 100%;
	margin-top: 15px;
	border-radius: 50%;
	overflow: hidden;
}

/********REDES SOCIALES**************/
.facebook img{
	width: 500%;
	margin-top: 80px;
}
.twitter img{
	width: 500%;
	margin-top: 80px;
}
.instagram img{
	width: 500%;
	margin-top: 80px;
}

/**********NAVEGADOR*******************/
.nav a{
	margin-top: 50px;
	color: #54BBAB;
	text-align: center;
}
/********FOOTER***************/
.footer a{
	color: #54BBAB; 
}
.playstore img{
	width: 65%;
	margin-top: 50px;
}
.appstore img{
	width: 65%;
	margin-top: 50px;
}